<% @title="Home" %>
<div class="row">
    <div class="col-lg-12"  id="frontpage" style="top: -16px;">
      <%= image_tag("voorpagina.png", :alt => "Running", :size => "1200x350")  %>
    </div>
  </div>


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header text-center font-size: 50px">CesarWise</h2>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h3 class="section-lead font-size: 25px">De hoogste kwaliteit</h3>
      <p class="font-size:20px">
      CesarWise streeft naar de hoogste kwaliteit en service door een professionele en
      doelgerichte aanpak, met aandacht voor de individu.
      </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h3 class="section-lead font-size:25px">Behandeling van de oorzaak</h3>
      <p class="font-size:20px">
      CesarWise werkt vanuit de visie van oefentherapeut, waarbij gekeken wordt
      naar de oorzaak van een probleem. Deze werkwijze geeft resultaten op zowel
      de korte als de lange termijn.
      </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h3 class="section-lead font-size:25px">Jong en Innovatief</h3>
      <p class="font-size:20px"> CesarWise past zich aan op de  huidige maatschappelijke problemen en
        is op de hoogte van maatschappelijke en wetenschappelijke ontwikkelingen
        binnen de zorg. Hierdoor kan Cesarwise zich continue blijven ontwikkelen.
      </p>
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
        <h1 class="page-header text-center font-size: 50px">Kijk ook naar:</h1>
  </div>

<div class="col-lg-4 text-center">
    <div class="thumbnail">
          <%=  link_to image_tag("over.jpg", :size=> "280x250"), navbar_over_path%>
        <div class="caption">
            <h3>Over Cesarwise </h3><br>

        </div>
    </div>
</div>

<div class="col-lg-4 text-center">
    <div class="thumbnail">
          <%=  link_to image_tag("specilisaties.png", :size=> "400x250"), navbar_diensten_path%>
          <br><br><br>
        <div class="caption">
            <h3>Specialisaties <h3><br>

        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="col-lg-4 text-center">
    <div class="thumbnail">
          <%=  link_to image_tag("Transire.jpg", :size=> "350x500"), navbar_samenwerkingen_path%>
        <div class="caption">
            <h3>Partners

            </h3>


        </div>
    </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
