<% @title="In Balans" %>
<br>
<div class="row">
              <div class="col-lg-4">
                  <br><br><br><br><br><br>
                <%=   image_tag("balans.jpg", :size=> "350x400")%>
                        </div>
            <div class="col-lg-7">
                  <h1 class="page-header text-center font-size: 30px">In Balans</h1>
                <h3 class="section-lead text-center">VOORKOMT VALLEN BIJ OUDEREN</h3>
                <p class="section-paragraph">In Balans is een groepsinterventie gericht op
                  het voorkomen van valongevallen bij ouderen (65+) door middel van bewustwording
                   van risicofactoren en verbetering van balans, mobiliteit en toename
                   van zelfvertrouwen en ontspanning. De cursus In Balans voor ouderen
                   bestaat uit voorlichting en een beweegprogramma.
                 </p>
                 <p>

De cursus is gericht op zelfstandig wonende ouderen van 65 jaar en ouder die zich onzeker
op de been voelen tijdens het lopen, bang zijn om te vallen en/of al vaker zijn gevallen
(pre-frail; enigszins kwetsbaar).
</p>
<p>
 De cursus bestaat uit enkele voorlichtingsbijeenkomsten en een beweegprogramma.
 De voorlichtingsbijeenkomsten hebben als doel om deelnemers bewust te maken van valrisico en balansverstoring
 en hen meer kennis te geven over het voorkomen van een val.
 Het beweegprogramma is gebaseerd op Tai Chi en is gericht op het verbeteren van de algehele fitheid,
 spierkracht en balans en biedt gerichte training voor opstaan en lopen.
</p>
<p>

Uit onderzoek is bekend dat beweegprogramma’s die gericht zijn op het verbeteren van balans,
spierkracht en mobiliteit  het meest effectief om valrisico’s te verkleinen.
In Balans is erkend door het Centrum Gezond Leven (RIVM/CGL).
In Balans is ontwikkeld op basis van kennis uit wetenschappelijk onderzoek naar
effectieve valpreventie. Uit onderzoek blijkt dat ouderen na het volgen van de
cursus maar liefst 61% minder kans maken om te vallen en dat hun valangst met 37% afneemt.
</p>
<p>

De kosten van het geven van In Balans zijn afhankelijk van o.a. de groepsgrootte, de kosten van de locatie, docenten, catering (kopje koffie/thee achteraf). Een aantal zorgverzekeraars vergoedt In Balans (deels) vanuit het aanvullend pakket.</p>
</p>
          </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
