<% @title="Over" %>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10 center"  id="frontpage" style="left: 10%;">
    <%= image_tag("Inhoud.png", :alt => "Running", :size => "1000x150", :crop => :fill)  %>
  </div>
  </div>

<div class="row">
  <div class="col-md-1">
  </div>

  <div class="col-lg-5">
      <h2 class="page-header text-center" style="font-size:30px">Over CesarWise</h2>
      <p style="font-size:15px"> CesarWise is op 1 maart 2017 opgericht door
        Richard Felius. Richard Felius is in 2016 afgestudeerd als oefentherapeut Cesar.
        Daarnaast heeft hij de opleidingen voor kinesiotaping en in balans succesvol afgerond. <p>

        <div class="caption text-center">
          <p class="lead section-lead" style="font-size:20px">Kwaliteit en klanttevredenheid</p>

      <p style="font-size:15px"> CesarWise is gericht op het leveren van hoge kwaliteit en streeft naar hoge klanttevredenheid.
        Door regelmatige bijscholing en up to date te zijn van de medische ontwikkelingen kan er evidence based gehandeld worden
        en de kwaliteit gewaarborgd blijven. <br>

        </p>

        <div class="caption text-center">
  <p class="lead section-lead" style="font-size:20px">De missie: In balans met CesarWise</p>
      <p style="font-size:15px"> Bij een klacht of probleem is er sprake van een disbalans.
          Denk hierbij aan te weinig/ te veel spierspanning,
          stabiliteit, mobiliteit, etc. CesarWise streeft er naar om deze
          disbalans te herstellen en zo de kwaliteit van leven te verhogen. </p>
        </div>
                <div class="caption text-center">
          <p class="lead section-lead" style="font-size:20px">Kwaliteitgeregistreerd</p>
              <p style="font-size:15px"> CesarWise ingeschreven bij de Kvk en is ingeschreven bij het
                kwaliteitsregister paramedici.
              Dit houdt in dat u de behandeling (afhankelijk van de verzekering) vergoed kunt krijgen van
            de zorgverzekering. Door te voldoend aan de eisen van het kwaliteitsgerister blijven de kennis
          en kunde van hoge kwaliteit.
        </p>

        <h3>
          Een snelle, comfotabele en SUCCESVOLLE behandeling is mijn streven
        </h3>


  </div>
</div>
</div>
<div class="col-md-1">
</div>
  <div class="col-lg-4">
      <h2 class="page-header text-center" style="font-size:30px">Over Mij</h2>
      <div class="thumbnail">
          <%=  image_tag("Ik.jpg", :size=> "280x250")%>
          <div class="caption text-center">
              <h3>Richard Felius<br>
                  <small>Oefentherapeut Cesar & in balans docent</small>
              </h3>
            </div>
            <div class="caption text-left">
              <p>In 2016 ben ik afgestudeerd als oefentherapeut Cesar aan de
              hogeschool van Utrecht. Tijdens mijn opleiding heb ik gewerkt
            in zowel particuliere praktijken als ziekenhuizen. Hierdoor heb ik
          zowel acute als chornische klachten/aandoeningen leren behandelen. Naast
        oefentherapeut Cesar ben ik ook kinesiotaper en in balans docent. <br>
        </p>
        <p>
          Voor mij is het belangrijk om de hoogste kwaliteit zorg te leveren en
          de cliënt hierin centraal te zetten. Op deze manier het beste resultaat
          behaald worden. Daarnaast vind het belangrijk om mezelf te blijven ontwikkelen
          en daarom zal ik in 2017-2018 starten met de master bewegingswetenschappen in Amsterdam.
        </p>
      </div>
              <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                  </li>
              </ul>
          </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
