<% @title="Voorwaarden" %>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
          <h1 class="section-heading text-center">Algemene voorwaarden</h1>
          <p class="section-paragraph">

            Algemene voorwaarden voor opdrachten aan CesarWise.
Voor de onderstaande bepalingen verwijs ik naar de volgende CesarWise, <br>
gevestigd te:
<ul>
  <p>
  Someren
  <br>

  Groeningen 10
  <br>
  5712 HC
</p>
</ul>
</p>

<p>
1. ALGEMENE BEPALINGEN

Deze algemene voorwaarden zijn van toepassing op alle aanbiedingen, offertes overeenkomsten tot het verrichten van diensten en op alle overeenkomsten, alsmede onderhandelingen ongeacht of deze al dan niet tot een overeenkomst leiden met CesarWise.
Afwijkingen van deze algemene voorwaarden gelden uitsluitend indien en voor zover schriftelijk door CesarWise aanvaard. In geval van strijdige bepalingen in deze algemene voorwaarden en eventueel toepasselijke voorwaarden van de opdrachtgever/client prevaleren deze algemene voorwaarden.
</p>
<p>
2. TOTSTANDKOMING VAN OVEREENKOMSTEN

Intakegesprekken worden doorberekend. Een overeenkomst komt slechts tot stand op het moment waarop CesarWise overeenkomst van betaling schriftelijk dan wel mondeling heeft aanvaard.
</p>
<p>3. INHOUD EN UITVOERING VAN DE THERAPIE

CesarWise zal zich inspannen de door haar aanvaarde opdracht naar beste inzicht en vermogen en overeenkomstig de eisen van goed vakmanschap uit te voeren. Alle verplichtingen van CesarWise zijn inspanningsverplichtingen.
</p>
<p>4. EXCLUSIVITEIT; INTELLECTUELE EIGENDOMSRECHTEN; WEDERZIJDSE GEHEIMHOUDING

Alle rechten van intellectuele eigendom op alle resultaten van de door CesarWise in het kader van de uitvoering van de in artikel 3 omschreven opdracht verrichte werkzaamheden, ongeacht de verschijningsvorm daarvan en inclusief de door CesarWise ten behoeve van de uitvoering van de therapie/coaching ontwikkelde kennis, ervaring, modellen, instrumenten, methoden, materialen, apparatuur en andere (hulp)middelen, berusten bij CesarWise.
Tenzij anders overeengekomen, is het de opdrachtgever/client toegestaan resultaten als bedoeld in artikel 4.1. te gebruiken in het kader van haar eigen persoon, de bedrijfsuitoefening van de eigen onderneming of instelling. Openbaarmaking van deze resultaten is geoorloofd indien en voor zover het gebruik daartoe leidt en indien en voor zover de resultaten in hun geheel en onder vermelding van CesarWise als voortbrenger weergegeven worden.
CesarWise zal alle informatie en/of gegevens van de client als strikt vertrouwelijk behandelen en niet aan derden bekend maken of op andere wijze openbaar maken, tenzij deze informatie en/of gegevens reeds aantoonbaar bekend waren bij het eerste contact tussen partijen, dan wel in het geval bedoelde informatie en/of gegevens van algemene bekendheid moeten worden geacht. Deze verplichting blijft ook na beëindiging van de tussen partijen gesloten overeenkomst in stand.
</p>
<p>5. TARIEVEN, PRIJZEN

Alle tarieven en prijzen worden uitgedrukt in euro’s (€) met vermelding van eventuele BTW.
Tenzij anders wordt overeengekomen vindt naar rato van de soort en het aantal uitgevoerde verrichtingen, facturatie op maandbasis plaats.
Bij absentie zonder berichtgeving en bij annulering minder dan 24 uur van tevoren wordt het volledige, voor de verrichting afgesproken, uurtarief in rekening gebracht.
</p>
<p>6. BETALING

Tenzij anders overeengekomen, dient de cliënt de aan hem/haar in rekening gebrachte bedragen binnen 14 dagen na de factuurdatum aan CesarWise te voldoen. De bedragen zijn schriftelijk overeengekomen bij aanvang van de behandeling.
Alle betalingen dienen zonder enige korting te geschieden op de door CesarWise aan te wijzen rekening. De cliënt is niet gerechtigd tot opschorting van zijn betalingsverplichtingen noch tot compensatie.
Door het enkele verstrijken van een betalingstermijn is de cliënt in verzuim. In dat geval zijn alle vorderingen van CesarWise op de betrokken cliënt, uit welke hoofde ook, onmiddellijk opeisbaar. De cliënt is, zonder nadere ingebrekestelling, over alle bedragen die niet uiterlijk op de laatste dag van de betalingstermijn zijn betaald, vanaf die dag, tot aan de dag waarop betaling plaatsvindt, rente verschuldigd ter hoogte ter hoogte van 1% van het totale factuurbedrag per maand; met daarenboven een bedrag van minimaal € 15 administratiekosten. CesarWise is als dan tevens gerechtigd de cliënt zowel buitengerechtelijk incassokosten ten bedrage van 1% van het totaal verschuldigde bedrag per maand met een minimum van € 15 als de werkelijke in redelijkheid gemaakte gerechtelijke incassokosten in rekening te brengen.
Indien betaling van de openstaande vorderingen langer dan 8 weken na de laatste dag van de betalingstermijn uitblijft, heeft CesarWise het recht de uitvoering van de therapie op te schorten.
De verantwoordelijkheid om te achterhalen welke vergoedingen en voorwaarden de verzekeringsmaatschappij van de cliënt hanteert, ligt geheel bij de cliënt zelf.
</p>
<p>7. OVERMACHT

Indien één van de partijen door overmacht niet aan zijn verplichtingen jegens de ander kan voldoen, worden die verplichtingen opgeschort voor de duur van de overmachtstoestand.
Indien de overmachtstoestand drie maanden heeft geduurd, hebben beide partijen het recht de overeenkomst geheel of gedeeltelijk door middel van een schriftelijke kennisgeving te ontbinden. In geval van overmacht heeft de andere partij geen recht op schadevergoeding.
Onder overmacht aan de zijde van CesarWise wordt mede verstaan: elke van de wil van CesarWise onafhankelijke omstandigheid, waardoor de nakoming van haar verplichtingen jegens de cliënt geheel of gedeeltelijk wordt verhinderd of waardoor de nakoming van haar verplichting in redelijkheid niet van haar kan worden verlangd, ongeacht of die omstandigheid ten tijde van het sluiten van de overeenkomst was te voorzien.
Partijen zullen elkaar zo spoedig en gedetailleerd mogelijk van een (mogelijke) overmachtstoestand op de hoogte stellen.
</p>
<p>8. AANSPRAKELIJKHEID

CesarWise is nimmer aansprakelijk voor directe of indirecte schade van de cliënt en derden waaronder mede begrepen bedrijfsschade, gevolgschade, vertragingsschade, winstderving, teleurgestelde verwachtingen en (andere) immateriële schade, behoudens voor zover sprake is van opzet of grove schuld aan de zijde van CesarWise en behoudens het geval een dergelijke uitsluiting van aansprakelijkheid op grond van wettelijke bepalingen niet is toegestaan (art. 7:463 BW).
</p>
<p>9. TOEPASSELIJK RECHT, BEVOEGDE RECHTER

Op deze voorwaarden, alsmede op alle door CesarWise gesloten overeenkomsten, is Nederlands recht van toepassing.
Alle geschillen die tussen CesarWise en de opdrachtgever mochten ontstaan, zullen worden voorgelegd aan de bevoegde rechter binnen het Arrondissement ‘s-Hertogenbosch tenzij CesarWise er de voorkeur aan geeft het geschil voor te leggen aan de rechter die op grond van nationale of internationale rechtsregels bevoegd is daar van kennis te nemen, één en ander met behoud van het recht van hoger beroep en cassatie.
</p>
  </p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
