<% @title="Disclaimer" %>
<div ckass="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <h1 class="section-heading text-center">Disclaimer</h1>
      <h3 class="section-lead">Uitsluiting aansprakelijkheid</h3>
      <p class="section-paragraph">

De informatie op deze website is zorgvuldig samengesteld. Onjuistheden en onvolledigheden zijn echter niet altijd uit te sluiten. Daarom is het mogelijk dat informatie vermeld op de website mogelijk verouderd of 'onjuist' is.
De eigenaar kan geen aansprakelijkheid aanvaarden voor eventuele schade door het gebruik van de informatie op deze website.
</p>

<p>
De informatie mag niet gebruikt worden als vervanging van een behandeling of consult bij een medisch specialist.
</p>
<p>
De informatie op de website mag niet zonder toestemming gekopieërd of verspreid worden.
    </div>
</div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
