<% @title="Klachten" %>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
          <h1 class="section-heading text-center">Klachten en geschillen</h1>
          <p class="section-paragraph">
          <p>
            U heeft een klacht. Wat nu?
Het is belangrijk om uw onvrede of klacht eerst met uw therapeut te bespreken.
 Misschien is er sprake van een misverstand en komt u er samen uit als u kenbaar
  maakt waarover u ontevreden bent of wat u anders wilt. Is het moeilijk uw onvrede
  onder woorden te brengen? Probeer het dan op te schrijven en leg deze notitie
  dan voor aan uw therapeut. Mogelijk ontstaat er op deze manier een opening
  om met elkaar te praten en het probleem de wereld uit te helpen.
  Meestal lost een goed gesprek met uw therapeut uw onvrede of klacht op.
</p>
<p>

Als u er samen niet uit komt <br>
Voelt u zich niet in staat uw onvrede of klacht te bespreken met uw therapeut,
laat de situatie dit niet toe of komt u er samen niet uit? Dan kunt u gebruikmaken
van een gratis klachtenfunctionaris. Deze ondersteunt u bij het formuleren van uw
 klacht of onvrede en bij het onderzoeken van oplossingen. Samen met u wordt gekeken
 naar de mogelijkheden om gehoor te vinden voor uw klacht. Uw klacht wordt binnen
 6 weken afgehandeld. De klachtenfunctionaris is gratis en onafhankelijk.
</p>
<p>
U kunt de klachtenfunctionaris inschakelen voor:
</p>
<ul>
<li>Oefentherapeut Cesar</li>
</ul>
<p>
Heeft u onvrede of een klacht? Neem dan contact op met de beroepsvereniging waarbij uw therapeut is aangesloten. Zij laten de klachtenfunctionaris vervolgens contact met u opnemen bij de beroeps vereniging VVOCM.
</p>

<p>

Als de inzet van de klachtenfunctionaris of de wijze waarop uw onvrede of klacht
is afgehandeld voor u onbevredigend is, dan kunt u zich wenden tot de VVOCM (Oefentherapie Cesar).
Deze geschillencommissie is onafhankelijk van alle partijen. Een uitspraak van de geschillencommissie
 over uw klacht (geschil) is bindend, voor zowel u als de therapeut.

De kosten voor het indienen van een geschil bij de VVOCM zijn niet bekend.

Waarover kunt u een klacht indienen?

U kunt een klacht indienen over zaken omtrent de behandeling die u van uw therapeut
krijgt of kreeg. Bijvoorbeeld de kwaliteit van de behandeling of de manier waarop u
bent bejegend. Maar ook over een onjuiste beoordeling van de therapeut, schade ontstaan door de behandeling.


          </p>
        </div>
    </div>
  </div>
