<% @title="Privacy" %>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-heading text-center">PRIVACY STATEMENT</h1>
          <p class="section-paragraph">


Dit is de privacy verklaring van CesarWise. Hierin staat beschreven hoe er wordt omgegaan
met persoonsgegevens die verkregen worden via de website. CesarWise respecteert privacy
en zorgt voor vertrouwlijke behandeling van professionele informatie.
De verkregen gegevens worden gebruikt om de dienstverlening te optimaliseren.
</p>

<p>
In een aantal gevallen kan er voor het gebruik van specifieke diensten op de website
worden gevraagd om persoonsgegevens in te voeren. Deze gegevens worden gebruikt voor de volgende
doeleinden:
<ul>
  <li>het uitoefenen van het beroep in de individuele gezondheidszorg;  </li>
  <li>het leveren van informatie en het (elektronisch) beantwoorden van uw vragen;</li>
  <li>het (elektronisch) verstrekken van herhaalrecepten;</li>
  <li>het berekenen, vastleggen en innen van de vergoeding voor de behandeling (met inbegrip van het in handen van derden stellen van vorderingen);</li>
  <li>het behandelen van geschillen;</li>
  <li>het doen uitoefenen van accountantscontrole;</li>
  <li>het verrichten van wetenschappelijk of statistisch onderzoek.</li>
  <li>verstrekking van gegevens aan derden – zoals zorgverzekeraars – op basis van wettelijke of contractuele verplichtingen;</li>
  <li>Ten slotte leggen wij informatie met betrekking tot uw bezoekgedrag vast (onder andere het gebruikte IP-adres) ten behoeve van onderzoek naar mogelijkheden voor verdere optimalisering van en communicatie over onze producten en diensten, alsmede voor de beveiliging van onze website.</li>

</ul>
</p>
<p>
Verstrekking van persoonlijke gegevens aan derden

De persoonsgegevens zullen door ons alleen worden verstrekt aan:
<ul>
<li>degenen die rechtstreeks betrokken zijn bij de uitvoering van uw behandeling;</li>
<li>degenen die optreden als vervanger van de behandelaar, voor zover de verstrekking noodzakelijk is voor de in dat kader te verrichten werkzaamheden;</li>
<li>onderzoekers (als bedoeld in artikel 7:458 van het Burgerlijk Wetboek);</li>
<li>zorgverzekeraars, voor zover de gegevensverstrekking noodzakelijk is vanwege de verplichtingen uit de verzekeringsovereenkomst;</li>
<li>derden die zijn belast met het innen van vorderingen, voor zover de gegevensverstrekking daarvoor noodzakelijk is en geen medische gegevens betreft;</li>
anderen, indien:</li>
<li>u uw ondubbelzinnige toestemming heeft verleend voor de gegevensverwerking, of
de gegevensverwerking noodzakelijk is voor de nakoming van een wettelijke plicht door de beoefenaar van het beroep in de individuele gezondheidszorg, of
de gegevensverwerking noodzakelijk is vanwege een vitaal belang van u (bijvoorbeeld een dringende medische noodzaak).</li>
</ul>
</p>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
