<% @title="Tarieven" %>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
          <h1 class="section-heading text-center">Tarieven 2017 particulieren</h1>
          <p>


<ul><h4>OEFENTHERAPIE CESAR</h4>
<li>Zitting in de praktijk:		€ 32,00</li>
<li>Zitting thuis:		€ 45,00</li>
<li>Screening:	€ 12,00</li>
<li>Intake en onderzoek na screening:		€ 32,00</li>
<li>Intake en onderzoek na verwijzing:		€ 44,00</li>
<li>Eenmalig onderzoek:		€ 56,00</li>
<li>Telefonische zitting:		€ 15,00</li>
</ul>
<ul>
IN BALANS
<li>Deelname 3-delige cursus: € 35,-</li>


</ul>
<ul>

KINESIOTAPING
<li>Taping zonder behandeling: € 5,-</li>
</ul>

          </p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
