// Place all the styles related to the footer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#footer {
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;

  padding-bottom: 0px;
  border-top: 1px solid #eaeaea;
  color: #333;
  height: 180px;


  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-decoration-color: white;
  background-color: black;
  small {
    padding-top: 15px;
    float: left;
    margin-left: 15px;
    margin-bottom: 0px;
    text-decoration-color: white;
    color: white;
      font-size: 20px;
  }
  ul.naast {
    float: right;
    margin-right: 0px;
    list-style-type: none;
    text-decoration-color: white;
      color: white;
              list-style: none;
              padding-top: 15px;
      li {
                display: inline;
                list-style: none;
                  font-size: 12px;
        a {
          padding: 14px 16px;
          color: white;
            font-size: 12px;
        }
      }
  }

  ul.onder {
    float: right;
    margin-right: 25px;
    list-style-type: none;
    text-decoration-color: white;
      color: white;
      padding-top: 15px;

      li {
        padding-bottom: 10px;
          font-size: 12px;
        a {
          padding: 14px 16px;
        color: white;
        padding-bottom: 10px;

          color: white;
        text-decoration-color: white;
      }
      }
    }
}
